<%= form_with model: post, local: true do |f| %>
  <p><%= f.radio_button :type, "気ままに投稿" %>  気ままに投稿</p>
  <p><%= f.radio_button :type, "やってみたいを投稿" %>  やってみたい投稿</p>
  <p><%= f.radio_button :type, "やってみたを投稿" %>  やってみた投稿</p>
  <%= f.label "タイトル",  class: "form-left" %>
  <%= f.text_field :title, size: "50x10", placeholder: "５０文字以内で入力" %><br>
  <%= f.label "内容",  class: "form-left" %>
  <%= f.text_area :body, size: "50x7" %></br>
  <%= f.label "タグ",  class: "form-left" %>
  <%= f.text_field :tag_name, size: "50x10", placeholder: "スペースを入力で複数のタグをつける事ができます"  %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit '送信', class: "btn btn-success" %>
<% end %>
