<div class="post-form">
  <%= form_with model: post,metod: :post, local: true do |f| %>
    <%= render 'layouts/error', model: post %>
    <p><%= f.radio_button :type, "気ままに投稿" %>  気ままに投稿</p>
    <p><%= f.radio_button :type, "やってみたいを投稿" %>  やってみたい投稿</p>
    <p><%= f.radio_button :type, "やってみたを投稿" %>  やってみた投稿</p>
    <%= f.label "タイトル" %>
    <%= f.text_field :title %><br>
    <%= f.label "内容" %>
    <%= f.text_area :body %>
    <p class="tag-sample">スペースを入力で複数のタグをつける事ができます</p>
    <%= f.label "タグ" %>
    <%= f.text_field :tag_name %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit '送信' %>
  <% end %>
</div>