<div class="post-head">
    <p class="post-top-list"></p>
    <p class="post-top-list">ТіЋуе┐уе«жАъ</p>
    <p class="post-top-list">ТіЋуе┐сѓ┐сѓцсЃѕсЃФ</p>
    <p class="post-top-content">ТіЋуе┐тєЁт«╣</p>
    <p class="post-top-list">сѓ│сЃАсЃ│сЃѕТЋ░</p>
    <p class="post-top-list">сЂёсЂёсЂГТЋ░</p>
    <p class="post-top-list">ТіЋуе┐ТЎѓжќЊ</p>
</div>
<div class="jscroll">
  <div class="post-body">
    <% posts.each do |post| %>
      <div class="row user-image">
        <p class="post-bottom-list"><%= link_to user_path(post.user) do %>
          <%= attachment_image_tag post.user, :profile_image, :fill, 50, 50, fallback: "profile/no_image.jpg",  size: "50x50" %><br>
          <%= post.user.name.truncate(10) %>
          <% end %>
        </p>
        <p class="post-bottom-list"><%= link_to post.type, types_path(type: post.type) %></p>
        <p class="post-bottom-list"><%= link_to post.title.truncate(12), post_path(post.id) %></p>
        <p class="post-bottom-content"><%= post.body.truncate(25) %></p>
        <p class="post-bottom-list"><%= post.comments.size %>С╗Х</p>
        <p class="post-bottom-list">­Ъњќ<%= post.likes.size %></p>
        <p class="post-bottom-list"><%= post_created(post) %></p>
      </div>
    <% end %>
    <div>
      <%= link_to_next_page posts, 'ТгАсЂ«сЃџсЃ╝сѓИ', class: "next"%>
    </div>
  </div>
</div>
