<table>
  <thead>
    <tr>
      <th></th>
      <th>ТіЋуе┐уе«жАъ</th>
      <th>ТіЋуе┐сѓ┐сѓцсЃѕсЃФ</th>
      <th>ТіЋуе┐тєЁт«╣</th>
      <th>сѓ│сЃАсЃ│сЃѕТЋ░</th>
      <th>сЂёсЂёсЂГТЋ░</th>
      <th>ТіЋуе┐ТЎѓжќЊ</th>
    </tr>
  </thead>
  <tbody>
    <% posts.each do |post| %>
      <tr>
        <td><%= link_to user_path(post.user) do %>
          <%= attachment_image_tag post.user, :profile_image, :fill, 50, 50, fallback: "profile/no_image.jpg",  size: "50x50" %>
          <% end %>
        </td>
        <td><%= link_to post.type, types_path(type: post.type) %></td>
        <td><%= link_to post.title, post_path(post.id) %></td>
        <td><%= truncate(post.body) %></td>
        <td><%= post.comments.count %>С╗Х</td>
        <td>­Ъњќ<%= post.likes.count %></td>
        <td><%= post_created(post) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
