<thead>
  <tr>
    <th></th>
    <th>ТіЋуе┐уе«жАъ</th>
    <th>ТіЋуе┐сѓ┐сѓцсЃѕсЃФ</th>
    <th>ТіЋуе┐тєЁт«╣</th>
    <th>сѓ│сЃАсЃ│сЃѕТЋ░</th>
    <th>сЂёсЂёсЂГТЋ░</th>
    <th>ТіЋуе┐ТЎѓжќЊ</th>
  </tr>
</thead>
<div class="jscroll">
  <tbody>
    <% posts.each do |post| %>
      <tr>
        <td><%= link_to user_path(post.user) do %>
          <%= attachment_image_tag post.user, :profile_image, :fill, 50, 50, fallback: "profile/no_image.jpg",  size: "50x50" %><br>
          <%= post.user.name.truncate(10) %>
          <% end %>
        </td>
        <td><%= link_to post.type, types_path(type: post.type) %></td>
        <td><%= link_to post.title.truncate(12), post_path(post.id) %></td>
        <td><%= post.body.truncate(25) %></td>
        <td><%= post.comments.size %>С╗Х</td>
        <td>­Ъњќ<%= post.likes.size %></td>
        <td><%= post_created(post) %></td>
      </tr>
    <% end %>
    <div>
      <%= link_to_next_page posts, 'ТгАсЂ«сЃџсЃ╝сѓИ', class: "next"%>
    </div>
  </tbody>
</div>
