<div class="jscroll">
  <div class="post-body">
    <% posts.each do |post| %>
      <% if user_signed_in? && current_user.previewed?(post.id) %>
        <p class="previews"><%= time_ago_in_words(current_user.preview_time(post.id).updated_at) %>前に閲覧</p>
      <% end %>
      <div class="row user-image">
        <p><%= link_to user_path(post.user) do %>
          <%= attachment_image_tag post.user, :profile_image, :fill, 70, 70, fallback: "profile/no_image.jpg",  size: "70x70" %><br>
          <%= post.user.name.truncate(10) %>
          <% end %>
        </p>
        <div class="type-title">
          <p class="index-post-title"><%= link_to post.title.truncate(50), post_path(post.id) %></p>
          <p class="index-post-title"><%= post.body.truncate(150) %></p>
        </div>
        <div class="index-icon-all">
          <p class="index-icon"><%= link_to post.type, types_path(type: post.type) %></p>
          <p class="index-icon previews"><%= post.previews.size %> Preview</p>
          <p class="index-icon"><i class="fas fa-retweet"></i><%= post.reposts.size %></p>
          <p class="index-icon"><i class="far fa-comments"></i><%= post.comments.size %></p>
          <p class="index-icon"><i class="fas fa-heart"></i><%= post.likes.size %></p>
          <p class="index-icon"><%= time_ago_in_words(post.created_at) %>前</p>
        </div>
      </div>
    <% end %>
    <div>
      <%= link_to_next_page posts, '次のページ', class: "next"%>
    </div>
  </div>
</div>
