<div>
  <div class="container">
    <div class="mb-5">
      <h2>週間ランキング</h2>
      <div class="image_box">
        <div id="theTarget">
          <div class="image1">
            <div class="rank-text">
              <h3>タグ</h3>
              <% @tag_ranks.each.with_index(1) do |tag, i| %>
                <strong>
                  <span>第<%= i %>位</span>
                  <%= link_to tag.tag_name, tag_posts_path(tag.id) %>
                  <%= tag.tag_maps.where(created_at: 1.week.ago.beginning_of_day..Time.zone.now.end_of_day).count %><br>
                </strong>
              <% end %>
            </div>
          </div>
          <div class="image2">

          </div>
          <div class="image3">
            <div class="rank-text">
              <h3>やってみた</h3>
              <%= render 'rank', ranks: @ranks_2 %>
            </div>
          </div>
          <div class="image4">
            <div class="rank-text">
              <h3>やってみたい</h3>
              <%= render 'rank', ranks: @ranks_1 %>
            </div>
          </div>
          <div class="image5">
            <div class="rank-text">
              <h3>気ままに</h3>
              <%= render 'rank', ranks: @ranks_0 %>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h3>いろんな人の投稿を見てみよう！</h3>
      </div>
      <div class="row">
        <%= render 'random', random: @random %>
      </div>
      <button class="btn btn-primary tag-button">タグ▼</button>
      <button class="btn btn-primary post-button">投稿▼</button>
      <div class="tag-lists">
        <% @tag_lists.each do |tag_list| %>
        <i class="fas fa-tags"></i>
        <%= link_to tag_posts_path(tag_list.id), class: "mr-4" do %>
          <%= "#{tag_list.tag_name} (#{tag_list.posts.size})" %>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="row mb-5">
      <% if user_signed_in? %>
      <div class="form-page">
        <%= render 'form', post: @post %>
      </div>
      <% end %>
    </div>
    <h2>投稿一覧</h2>
    <%#= form_with model: @post, url: sort_path, method: :get, local: true do |f| %>
      <%#= f.select :keyword, [['投稿が新しい順', 'new'], ['いいねが多い順', 'likes']]%>
    <%# end %>
    <%= render 'index', posts: @posts %>
  </div>
</div>
