<div>
  <div class="container">
    <div class="mb-5">
      <h2>週間ランキング</h2>
      <div class="image_box">
        <div id="theTarget">
          <div class="image1">
            <div class="rank-text">
              <h3>タグ</h3>
              <% @tag_ranks.each.with_index(1) do |tag, i| %>
                <% if i <= 3 %>
                  <strong class="rank-list">
                    <span>第<%= i %>位</span>
                    <%= link_to tag.tag_name.truncate(10), tag_posts_path(tag.id) %>
                    <%= tag.tag_maps.where(created_at: 1.week.ago.beginning_of_day..Time.zone.now.end_of_day).size %><br>
                  </strong>
                <% end %>
              <% end %>
              <p class="next-font rank-list"><%= link_to "＞＞続きを見る", ranks_show_path(word: "タグ")%></p>
            </div>
          </div>
          <div class="image2">
            <div class="rank-text">
              <h3>リポスト</h3>
              <% @repost_ranks.each.with_index(1) do |post, i| %>
                <% if i <= 3 %>
                  <strong class="rank-list">
                    <span>第<%= i %>位</span>
                    <%= link_to post.title.truncate(13), post_path(post.id) %>
                    <i class="fas fa-retweet"></i>
                    <%= post.reposts.where(created_at: 1.week.ago.beginning_of_day..Time.zone.now.end_of_day).size %><br>
                  </strong>
                <% end %>
              <% end %>
              <p class="next-font rank-list"><%= link_to "＞＞続きを見る", ranks_show_path(word: "リポスト")%></p>
            </div>
          </div>
          <div class="image3">
            <div class="rank-text">
              <h3 class="rank-preview-font">Preview</h3>
              <% @preview_ranks.each.with_index(1) do |post, i| %>
                <% if i <= 3 %>
                  <strong class="rank-list">
                    <span>第<%= i %>位</span>
                    <%= link_to post.title.truncate(13), post_path(post.id) %>
                    <%= post.previews.where(created_at: 1.week.ago.beginning_of_day..Time.zone.now.end_of_day).size %> Preview<br>
                  </strong>
                <% end %>
              <% end %>
              <p class="next-font rank-list"><%= link_to "＞＞続きを見る", ranks_show_path(word: "preview")%></p>
            </div>
          </div>
          <div class="image4">
            <div class="rank-text">
              <h3>やってみた</h3>
              <%= render 'rank', ranks: @ranks_2 %>
              <p class="next-font rank-list"><%= link_to "＞＞続きを見る", ranks_show_path(word: "やってみた")%></p>
            </div>
          </div>
          <div class="image5">
            <div class="rank-text">
              <h3>やってみたい</h3>
              <%= render 'rank', ranks: @ranks_1 %>
              <p class="next-font rank-list"><%= link_to "＞＞続きを見る", ranks_show_path(word: "やってみたい")%></p>
            </div>
          </div>
          <div class="image6">
            <div class="rank-text">
              <h3>気ままに</h3>
              <%= render 'rank', ranks: @ranks_0 %>
              <p class="next-font rank-list"><%= link_to "＞＞続きを見る", ranks_show_path(word: "気ままに")%></p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h3>いろんな人の投稿を見てみよう！</h3>
      </div>
      <div class="row">
        <%= render 'random', random: @random %>
      </div>
      <button class="btn btn-primary tag-button">タグ▼</button>
      <% if user_signed_in? %>
        <button class="btn btn-primary post-button">投稿▼</button>
      <% end %>
      <div class="tag-lists">
        <% @tag_lists.each do |tag_list| %>
        <i class="fas fa-tags"></i>
        <%= link_to tag_posts_path(tag_list.id), class: "mr-4" do %>
          <%= "#{tag_list.tag_name} (#{tag_list.posts.size})" %>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="row mb-5">
      <% if user_signed_in? %>
      <div class="form-page">
        <%= render 'form', post: @post %>
      </div>
      <% end %>
    </div>
    <h2>投稿一覧</h2>
    <%= render 'index', posts: @posts %>
  </div>
</div>
