<div>
  <div class="container">
    <h1>ТіЋуе┐СИђУдДсЃџсЃ╝сѓИ</h1>
    <div class="row">
      <%= form_with model: @post,metod: :post, local: true do |f| %>
        <%= f.label "ТіЋуе┐уе«жАъ" %>
        <p>Т░ЌсЂЙсЂЙсЂФТіЋуе┐  <%= f.radio_button :type, "Т░ЌсЂЙсЂЙсЂФТіЋуе┐" %></p>
        <p>сѓёсЂБсЂдсЂ┐сЂЪсЂёТіЋуе┐  <%= f.radio_button :type, "сѓёсЂБсЂдсЂ┐сЂЪсЂёсѓњТіЋуе┐" %></p>
        <p>сѓёсЂБсЂдсЂ┐сЂЪТіЋуе┐  <%= f.radio_button :type, "сѓёсЂБсЂдсЂ┐сЂЪсѓњТіЋуе┐" %></p>
        <%= f.label "сѓ┐сѓцсЃѕсЃФ" %>
        <%= f.text_field :title %><br>
        <%= f.label "тєЁт«╣" %>
        <%= f.text_area :body %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit 'жђЂС┐А' %>
      <% end %>
    </div>
    <div>
      <h2>ТіЋуе┐СИђУдД</h2>
      <table>
        <thead>
          <tr>
            <th>ТіЋуе┐уе«жАъ</th>
            <th>ТіЋуе┐сѓ┐сѓцсЃѕсЃФ</th>
            <th>ТіЋуе┐тєЁт«╣</th>
            <th>сѓ│сЃАсЃ│сЃѕТЋ░</th>
            <th>сЂёсЂёсЂГТЋ░</th>
            <th>ТіЋуе┐ТЎѓжќЊ</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= link_to post.type, types_path(type: post.type) %></td>
              <td><%= link_to post.title, post_path(post.id) %></td>
              <td><%= post.body %></td>
              <td><%= post.comments.count %>С╗Х</td>
              <td>­Ъњќ<%= post.likes.count %></td>
              <td><%= post_created(post) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>