<div>
  <div class="container">
    <div class="row">
      <h1>投稿詳細ページ</h1>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>ユーザー名</th>
          <th>投稿種類</th>
          <th>コメント数</th>
          <th>いいね数</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(@post.user) do %>
              <%= attachment_image_tag @post.user, :profile_image, :fill, 100, 100, fallback: "profile/no_image.jpg" %><br>
              <%= @post.user.name %>
            <% end %>
            </td>
            <td><%= @post.type %></td>
            <td><%= @post.comments.count %>件</td>
            <td>
              <% if user_signed_in? %>
                <% if @post.liked_by?(current_user) %>
                  <%= link_to "🖤", post_likes_path(@post), method: :delete %>
                <% else %>
                  <%= link_to "💖", post_likes_path(@post), method: :post %>
                <% end %>
              <% end %>
              <%= @post.likes.count %>
            </td>
        </tr>
        <tr>
          <th>タイトル</th>
          <th>内容</th>
        </tr>
        <tr>
          <td><%= @post.title %></td>
          <td><%= @post.body %></td>
        </tr>
      </tbody>
    </table>
    <% if @post.user == current_user %>
      <td><%= link_to "削除する", post_path(@post), method: :delete %></td>
    <% end %>
<!----------------------------------------------------下記はコメント関連の記述------------------------------------------------------------>
    <h2 class="mt-5">コメント</h2>
    <table class="table">
      <% @comments.each do |comment| %>
        <tr>
          <td>
            <%= link_to user_path(comment.user) do %>
              <%= attachment_image_tag comment.user, :profile_image, :fill, 50, 50, fallback: "profile/no_image.jpg", size: "50x50" %><br>
              <%= comment.user.name %>
            <% end %>
          </td>
          <td><%= comment.content %></td>
        </tr>
        <tr>
          <td><%= comment_created(comment) %></td>
          <% if comment.user == current_user %>
            <td><%= link_to "コメントを削除", post_comment_path(comment.post.id,comment.id), method: :delete %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <% if user_signed_in? %>
      <div class="row">
        <%= form_with(model: [@post, @comment], local: true) do |f| %>
          <%= render 'layouts/error', model: @comment %>
          <%= f.label "コメント内容"%>
          <%= f.text_area :content %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.submit 'コメントする', class: "btn btn-success" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>