<table>
  <th><%= attachment_image_tag @user, :profile_image, :fill, 100, 100 %></th>
  <th><%= @user.name %></th>
  <th><%= @user.age %></th>
  <th><%= @user.profession %></th>
  <th><%= @user.introduction %></th>
</table>