<div>
  <div class="container">
    <% if @user == current_user %>
    <div>
      <h1 class="profile-edit">マイページ</h1>
      <%= link_to "プロフィールを変更", edit_user_path(@user), class: "profile-edit" %>
      </div>
    <% else %>
      <h1><%= @user.name %>さんのページ</h1>
    <% end %>
    <% if @user == current_user %>
      <button>
        <%= link_to follows_user_path, class: "btn btn-light" do %>
          <%= "フォロー　#{@user.followings.count}" %><br>
        <% end %>
      </button>
      <button>
        <%= link_to followers_user_path, class: "btn btn-light" do %>
          <%= "フォロワー　#{@user.followers.count}" %><br>
        <% end %>
      </button>
    <% else %>
      <span id="<%= @user.id %>_follow">
        <%= render 'users/relationships/relationship', user: @user %>
      </span>
    <% end %>
    <button>
      <%= link_to user_likes_user_path, class: "btn btn-light" do %>
        いいね<%= @user.user_likes.count %>
      <% end %>
    </button>
    <%= render 'layouts/profile', user: @user %>
    <%= render 'users/posts/index', posts: @posts %>
  </div>
</div>