<div>
  <div class="container">
<!------------------------------------マイページ---------------------------------------------->
    <% if @user == current_user %>
      <h1>マイページ</h1>
      <%= render 'layouts/profile', user: @user %>
      <%= link_to follows_user_path do %>
      <%= "フォロー一覧　#{@user.followings.count}人" %><br>
      <% end %>
      <%= link_to followers_user_path do %>
      <%= "フォロワー一覧　#{@user.followers.count}人" %><br>
      <% end %>
      <%= link_to "プロフィールを変更", edit_user_path(@user) %>
      <%= render 'users/posts/index', posts: @posts %>
    <% else %>
<!------------------------------------他人のユーザーページ--------------------------------------->
      <h1><%= @user.name %>さんのページ</h1>
      <%= render 'layouts/profile', user: @user %>
      <div id="<%= @user.id %>_follow">
        <%= render 'users/relationships/relationship', user: @user %>
      </div>
      <%= render 'users/posts/index', posts: @posts %>
    <% end %>
    </div>
  </div>
</div>