<div>
  <table class="table">
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>投稿種類</th>
        <th>タイトル</th>
        <th>投稿内容</th>
        <th>コメント数</th>
        <th>投稿日時</th>
      </tr>
    </thead>
    <tbody>
      <% posts.each do |post| %>
        <tr>
          <td><%= post.user.name %></td>
          <td><%= link_to post.type, admin_types_path(type: post.type) %></td>
          <td><%= link_to post.title, admin_post_path(post) %></td>
          <td><%= post.body %></td>
          <td><%= post.comments.count %>件</td>
          <td><%= post_created(post) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate posts %>
  </div>
</div>