<div>
  <div class="container">
    <div class="row">
      <h1>投稿一覧</h1>
    </div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>ユーザー名</th>
            <th>投稿種類</th>
            <th>タイトル</th>
            <th>投稿内容</th>
            <th>投稿日時</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= post.user.name %></td>
              <td><%= post.type %></td>
              <td><%= link_to post.title, admin_post_path(post) %></td>
              <td><%= post.body %></td>
              <td><%= post_created(post) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
