<div>
  <div class="container">
    <div>
      <div class="message-user-image">
        <%= attachment_image_tag @user, :profile_image, :fill, 80, 80, fallback: "profile/no_image.jpg",  size: "80x80" %>
      </div>
    <h2 class="message-user-image"><%= @user.name %>とのメッセージ</h2>
    </div>
    <div class="row">
      <div class="message-all message-details" id="scroll-inner">
          <% @messages.each do |message| %>
            <% if message.user_id == current_user.id %>
              <%= render 'users/messages/message', message: message %>
            <% else %>
              <div class="balloon6 text-break">
                <div class="faceicon">
                  <%= attachment_image_tag message.user, :profile_image, :fill, 50, 50, fallback: "profile/no_image.jpg",  size: "50x50" %>
                </div>
                <div class="chatting">
                  <div class="says says-none">
                    <%= message.content %>
                  </div>
                  <p class="message-time"><%= message_created(message)%></p>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
      <div class="message-form">
        <%= form_with(model:[@room, @message], remote: true) do |f| %>
          <%= f.text_area :content, size: '100×5' %>
          <%= f.hidden_field :room_id %>
          <%= f.submit "送信", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>