<div class="profile-table">
  <div class="image-name">
    <span class="profile-span profile-image pt-3"><%= attachment_image_tag user, :profile_image, :fill, 180, 180, fallback: "profile/no_image.jpg", size: "180x180" %></span>
    <span class="profile-span pt-2"><%= user.name %></span>
  </div>
  <% if user.age.present? %>
    <span class="profile-span"><%= user.age %>才</span>
  <% end %>
  <span class="profile-span"><%= user.profession %></span>
  <span class="profile-span"><%= user.introduction %></span>
</div>